
.button {
  background-color: var(--color-black);
  color: var(--color-primary);
  font-family: "Poppins", sans-serif;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  cursor: pointer;
}
